a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;

}

html {
  font-size: 14px;


}

/*@media (min-width: 768px) {
  html {
    font-size: 16px;
    height: 100%;
  }
}*/


body {
  position: relative;
  margin-right: 0px;
  /*display: flex;*/


}
.col-10 {
  min-height: 100vh;
  position: absolute;

}

/*=============== | side bar | ===================*/

.nav-link:hover {
  color: #FFFFFF;
  background-color: #202020 !important
}

.nav-link:focus {
  background-color: #202020 !important;
  color: #FFFFFF;
}

.col-3 {
  background-color: #121212;
  height: 87vh;
  width: 25%;
}

/*.nav-link .bi {
  transition: all 1s;
}*/

/*.nav-link:hover .bi {
  transform: rotate(360deg);
}*/


.nav-link {
  color: #9a9a9a;
  height: 62px;
  width: 200px;
  border-radius: 8px;
  margin-top: 3px;
}

/*=============== | nav bar | ===================*/

.nav-games {
  color: #9a9a9a;
  padding: 40px;
  text-decoration: none;

}

.nav-games:hover {
  color: #FFFFFF;
}


.navbar {
  background-color: #121212;
  height: 13vh;
  width: 120%;
  z-index: 999;
}

.d-flex {

}

/*=============== | search bar | ===================*/
.form {
  position: relative
}

.form-input {
  color: white;
  height: 55px;
  text-indent: 33px;
  border-radius: 10px
}

.form-control {
  height: 45px;
  background-color: #202020;
  border-radius: 25px;
  border: none
}

.form .bi-search {
  position: absolute;
  top: 10px;
  left: 20px;
  color: #9ca3af
}

.form-input:focus {
  box-shadow: none;
  border: none;
  background-color: #2a2a2a;
}



.sidebar {
  max-width: max-content;
  background-color: #121212;
}







