section {
  background-color: #121212;
  height: 125vh;
}

.card {
  background-color: #121212;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  color: white;
}

input {
  border-radius: 25px;
  background-color: #202020;
  border: none;

}

#text-link {
  color: #1c94f5;
  text-decoration: none;
}

.form-control {
  font-size: 16px;
  background-color: #202020;
  color: #FFFFFF;
  padding: 10px 40px;
}

  .form-control:hover {
    background-color: #2a2a2a;
  }

